@page "/"
@using Pinventory.Web.Components.Shared

<PageTitle>Home</PageTitle>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <AlertMessage Message="@errorMessage" Type="AlertMessage.AlertType.Error" OnDismiss="DismissError"/>
}

<h1>Hello, world!</h1>

Welcome to your new app.

@code {
    private string? errorMessage;

    [SupplyParameterFromQuery(Name = "error")]
    public string? ErrorCode { get; set; }

    protected override void OnInitialized()
    {
        if (ErrorCode == "access-denied")
        {
            errorMessage = "Access denied. You do not have permission to access the requested page.";
        }
    }

    private void DismissError()
    {
        errorMessage = null;
    }

}
